nav {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #30A7D7;*/
  background-color: whitesmoke;
  padding: 5px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav img {
  width: 50px;
  height: 50px;
}

nav h1 {
  margin: 0;
  margin-left: -50px; /* on enlève la taille du logo */
  text-align: center;
  font-size: 48px;
  font-family: 'Press Start 2P', sans-serif;
  color: darkred;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  flex: 1;
}

.container {
  margin-top: 100px;
}


